
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top:3.5rem ;
}
:root{
    --be-color:#3b3b3b;
    --sa-color:#080808;
    --te-color:#ffffff;
    --main-co:red;  
    --big:4.3rem;
    --h2-fo:4.2rem;
    --p-font:1.1rem;

}
body{
    background: var(--be-color);
    color: var(--te-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}
.logo{
    color: var(--te-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar  a{
    color:var(--te-color) ;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
}
.navbar a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-co);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navbar a:hover::after  {
    width: 100%;
}                                                             


#menu-icon{
    font-size: 32px;
    color: var(--main-co);
    z-index: 10001;
    cursor: pointer;
    display: none;

}
section{
    padding: 120px 15%;
    align-content: center;
}

.home{
    width: 100%;
    height: 100vh;
    background: var(--be-color);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1. 1fr);
    align-items: center;

}
.ho-te h1{
    margin: 20px 0px  20px ;
    font-size: var(--big);
}
span{
    color: var(--main-co);
}
.ho-te h3{
    font-size: 25px;
    margin-bottom: 55px;

}
.ho-te h4{
    color: rgb(255, 173, 173);
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
header.sticky{
    padding: 12px 15%;
    background: rgb(172, 80, 80);
}
.sticky .navbar a::after{
    background: var(--te-color);
}

.about{
     background: var(--sa-color);
     display: grid;
     grid-template-columns: repeat(2, 2fr);
     align-items: center;
     grid-gap: 2rem;
}
.ab-img img{
    max-width: 100% ;
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.ab-te h2{
    font-size: var(--h2-fo);
    margin-bottom:20px ;

}   
.ab-te p{
    color: var(--te-color);
        letter-spacing: 1px;
        line-height: 28px;
        max-width: 590px;
        font-size: var(--p-font);
        margin-bottom: 45px;

}
.team{
    background: var(--be-color);
              
}
.center{
    text-align: center;
}
.center h2{
    font-size: var(--h2-fo);
    margin-bottom: 15PX;
    text-transform: capitalize;

}
.center P{
    color: rgb(255, 177, 177);
    font-size: var(--p-font);
    letter-spacing: 1px;
    line-height: 28px;                  
}
.team-name{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px,auto));
   grid: gap 2rem;
   align-items: center;
   margin-top: 4.5rem;
}

 .row{
    height: 365px;
    width: 335px;
   margin: 30px;
    background: var(--sa-color);
    padding: 55px 30px;
    border-radius: 20px;
    transition: all  .35s;
    text-align: center;
}
.row i{
    color: var(--main-co);
    margin-bottom: 20px;
    font-size: 2.7rem;
}
.row h3{
    color: var(--te-color);
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
     margin-bottom: 15px;
}
.row p{
    color: rgb(255, 177, 177);
    line-height: 30px;
    font-size: var(--p-font);

}
.row:hover{
transform: translateY(-20px);
}
.work{
    background: var(--sa-color);

}
.inf{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px,auto));
   grid: gap 2rem;
   align-items: center;
   margin-top: 4.5rem;
   cursor: pointer;
}
.box img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}
.box p{
    color: rgb(255, 177, 177);
    margin-bottom: 15px;
    font-size: var(--p-font);

}
.box h5{
    color: var(--te-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;

}
.box img:hover{
    transform: scale(1.1);
}
.footer{
    text-align: center;
    background: var(--sa-color);
    padding: 34px;
}
@media (max-width:1270px) {
    header{
        padding: 18px 4%;
        transition:     .2s;
    }
    section{
        padding: 80px 4%;
        transition: .2s;
    }
:root{
    --big:4.8rem;
    --h2-fo:3.8rem;
    --p-font:1rem;
    transition: .2s;
}
}
@media (max-width:990px){
    .home{
        height: 85vh;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        
        position: absolute;
        top:-700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--sa-color);  
        text-align: left;
        transition: all .30s;                                                                      
    }
 
    .navbar a{
        display:block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px solid var(--te-color);
    }

   
    .navbar a:hover{
        background: var(--main-co);

    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
.about{
    grid-template-columns: 1fr;
}
.ab-img{
    text-align: center;
    margin-bottom: 30px;
}

.ab-img img{
     max-width: 100%;
     width: 700px;
     height: auto;
     

} 
.box img{
    max-width: 100%;
    width: 760px;
    height: auto;

}
}